Repository Wurst-Imperium/Wurst7, pull requests merged in 2023-12, with the labels that each got.

#835 New Hack: PortalESP (fixes #776)
  src/main/java/net/wurstclient/hack/HackList.java
  src/main/java/net/wurstclient/hacks/PortalEspHack.java
  src/main/java/net/wurstclient/hacks/portalesp/PortalEspBlockGroup.java
  src/main/java/net/wurstclient/hacks/portalesp/PortalEspRenderer.java
  src/main/resources/assets/wurst/lang/en_us.json
Labels: type:enhancement, type:new feature, category:render

#904 Added NoFog
  src/main/java/net/wurstclient/hack/HackList.java
  src/main/java/net/wurstclient/hacks/NoFogHack.java
  src/main/java/net/wurstclient/mixin/BackgroundRendererMixin.java
  src/main/resources/assets/wurst/lang/en_us.json
  src/main/resources/wurst.accesswidener
Labels: type:enhancement, type:new feature, category:render

#798 NameTags fixes
  src/main/java/net/wurstclient/hacks/NameTagsHack.java
  src/main/java/net/wurstclient/mixin/EntityRendererMixin.java
  src/main/java/net/wurstclient/mixin/LivingEntityRendererMixin.java
  src/main/java/net/wurstclient/mixin/MobEntityRendererMixin.java
  src/main/resources/wurst.mixins.json
Labels: type:enhancement, area:settings, category:render

#916 Omnidirectional Sprint
  src/main/java/net/wurstclient/hacks/AutoSprintHack.java
  src/main/java/net/wurstclient/mixin/ClientPlayerEntityMixin.java
Labels: type:enhancement, area:settings, category:movement
