Repository Wurst-Imperium/Wurst7, pull requests merged in 2025-03, with the labels that each got.

#1093 Update Polish translations
  src/main/resources/assets/wurst/translations/pl_pl.json
Labels: status:merged, type:translation, status:never-stale

#1114 Turkish language for wurst
  src/main/resources/assets/wurst/translations/tr_tr.json
  src/main/resources/intentionally_untranslated.json
Labels: status:merged, type:translation

#1123 Add squids/dolphins back to passive mob filters
  src/main/java/net/wurstclient/clickgui/components/RadarComponent.java
  src/main/java/net/wurstclient/settings/filters/FilterPassiveSetting.java
  src/main/java/net/wurstclient/settings/filters/FilterPassiveWaterSetting.java
Labels: status:merged, type:bugfix, area:settings

#1127 Fix ChatInputEvent message assignment
  src/main/java/net/wurstclient/mixin/ChatHudMixin.java
Labels: status:merged, type:bugfix, category:chat
